<html>
<head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/click.js"></script>
</head>
<body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
        <%if (userId != null) { %>
        <a href="/order/list/<%=userId._id%>">valid command</a>
        <% } %>
    <div>
        <ul>
                <% products.forEach(function(product) { %>
            <li> 
                <div class="form-group"> 
                    <%= product.id %> - <%= product.name %> - <%= product.orders_counter%>  
                <button type="button" class="btn btn-primary" onclick="javascript:orderProduct(<%= "'" + product._id + "'"%>);">Click me</button> 
                </div>       
            </li>
                <% }); %> 
        </ul>
    </div>

</body>
</html>